{% extends "base.html" %}
{% block title %} Account: {{myuser[0]}} {% endblock %}
{% block content %}
           <div class="col-md-8">
		   <p>
		   </p>
		   {% if logged %}
			   {% if myuser %}
				   <p>
				   <h2>Account: <span id="username">{{myuser[0]}}</span></h2>

				   <form method="POST" action="/account">
				   <div class="form-group">
					   <label for="new_login"> Login</label>
					   <input type="text" class="form-control" name="new_login" placeholder="{{myuser[0]}}">
				   </div>

				   <div class="form-group">
					   <label for="new_email"> Email </label>
					   <input type="email" class="form-control" name="new_email" placeholder="{{myuser[1]}}">
				   </div>
				   <div class="form-group">
					   <label for="new_password"> Password</label>
					   <input type="password" class="form-control" name="new_password">
				   </div>
				   <div class="form-group">
					   <label for="new_retype_password">Password Check</label>
					   <input type="password" class="form-control" name="new_retype_password">
				   </div>
				   {% if admin %}
				   <div class="form-group">
					   <label for="right">Droits</label>
					   <select name="new_rights" class = "form-control">
						   <option value = "">
						   	{% if myuser[2] %}
								Admin
						   	{% else %}
								User
							{% endif %}
						   </option>
						   <option value=
						   {% if myuser[2] %}
								"False"
						   	{% else %}
								"True"
							{% endif %}>
							{% if  myuser[2] %}
								User
						   	{% else %}
								Admin
							{% endif %}

						   </option>

					   </select>
				   </div>

				   {% endif %}
				   <table class="table"> 
					   <tr> 
						   <th>quotas max</th>
						   <th>quotas used</th>
						   <th></th>
					   </tr>
					   <tr>
						   <td>{% if admin %}<input type="text" class="form-control" name="new_quotas_limit" id="quotas_limit" placeholder="{{myuser[3]}}"   >
							{% else %} {{myuser[3]}}
							{% endif %}
						   </td>
						   <td class>/ <span id="quotas_used">{{myuser[4]}}</span><span id="quotas_used_p"></span></td>
						   <td >
							   <button  id="update_quotas" class="btn btn-default" type="button">
								   Actualiser
							   </button>
						   </td>
					   </tr>
				   </table>
				   <input type="hidden" value="{{user_id}}" name="user_id">
				   <input type="submit" class="btn btn-default" value="Modifier le compte: {{myuser[0]}}">
				   <a class="btn btn-default" href="/administration">Back</a>
				   </form>
				   {% if message %}
				   	{% if message[0] %}
					   	<br>
						<div class="bg-success"> <ul>{{message[0]}}</ul></div>
					{% endif %}
				   	{% if message[1] %}
						<br>
						<div class="bg-danger"> <ul>{{message[1]}}</ul></div>
					{% endif %}
				   {% endif %}
		   		   </p>
			   {% endif %}
		 {% endif %}
	    </div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/myaccount.js"></script>
{% endblock %}
