{% extends "base.html" %}
{% block title %} Mon Compte {% endblock %}
{% block content %}
           <div class="col-md-8">
		   <p>
		   </p>
		   {% if logged %}
		   <p>
		  <h2>Mon Compte</h2>
		    <form method="POST" action="/myaccount">
		   <div class="form-group">
			   <label for="new_login"> Login</label>
			   <input type="text" class="form-control" name="new_login" placeholder="{{login}}">
		   </div>

		   <div class="form-group">
			   <label for="new_email"> Email </label>
			   <input type="email" class="form-control" name="new_email" placeholder="{{email}}">
		   </div>
		   <div class="form-group">
			   <label for=new_password"> Password</label>
			   <input type="password" class="form-control" name="new_password">
		   </div>
		   <div class="form-group">
			   <label for="new_retype_password">Password Check</label>
			   <input type="password" class="form-control" name="new_retype_password">
		   </div>
			   <input type="submit" class="btn btn-default" value="Mettre à jour mes informations">	
		   </form>
		   {% if success %}
		   <br>
		   <div class="bg-success"> <ul>{{success}}</ul></div>
		   {% endif %}
		   {% if error %}
		   <br>
		   <div class="bg-danger"> <ul>{{error}}</ul></div>
		   {% endif %}

		   </p>
		   {% endif %}
		   <div id="barre"></div>
	    </div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/myaccount.js"></script>
{% endblock %}
