{% extends "base.html" %}
{% block title %} Account: {{myuser[0]}} {% endblock %}
{% block content %}
           <div class="col-md-8">
		   <p>
		   </p>
		   {% if logged %}
			   {% if myuser %}
				   <p>
				   <h2>Account: {{myuser[0]}}</h2>

				    <form method="POST" action="/account">
				   <div class="form-group">
					   <label for="new_login"> Login</label>
					   <input type="text" class="form-control" name="new_login" placeholder="{{myuser[0]}}">
				   </div>

				   <div class="form-group">
					   <label for="new_email"> Email </label>
					   <input type="email" class="form-control" name="new_email" placeholder="{{myuser[1]}}">
				   </div>
				   <div class="form-group">
					   <label for=new_password"> Password</label>
					   <input type="password" class="form-control" name="new_password">
				   </div>
				   <div class="form-group">
					   <label for="new_retype_password">Password Check</label>
					   <input type="password" class="form-control" name="new_retype_password">
				   </div>
				   <input type="hidden" value="{{id_user}}" name="id_user">
				   <input type="submit" class="btn btn-default" value="Modifier le compte: {{myuser[0]}}">
				   <a class="btn btn-default" href="/administration">Back</a>
				   </form>
				   {% if message %}
				   	{% if message[0] %}
					   	<br>
						<div class="bg-success"> <ul>{{message[0]}}</ul></div>
					{% endif %}
				   	{% if message[1] %}
						<br>
						<div class="bg-danger"> <ul>{{message[1]}}</ul></div>
					{% endif %}
				   {% endif %}
		   		   </p>
			   {% endif %}
		 {% endif %}
	    </div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/hebergement.js"></script>
{% endblock %}
